@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    user-select: none;
}

:root {
    --primary: #fe2c55;

    // Default layout
    --default-layout-header-hight: 60px;
    --default-layout-width: 1150px;
}

html {
    font-size: 62.5% !important;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: #333;
}

img,
input,
label,
textarea,
select,
button,
[tabindex] {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    outline: none;
    padding: 0;
}

textarea,
input,
button {
    background-color: transparent;
}

a[href] {
    color: #333;
    text-decoration: none;
}

input {
    caret-color: #fe2c55;
}
