@import 'normalize.css';

*,
::before,
::after {
    box-sizing: border-box;
    user-select: none;
}

:root {
    --primary: rgb(255, 59, 92);
    --text-color: #161823;

    // Default layout
    --default-layout-header-hight: 60px;
    --default-layout-width: 1170px;
    --default-layout-horzontal-spacer: 24px;
}

html {
    font-size: 62.5% !important;
}

body {
    font-size: 1.6rem;
    font-family: 'TikTokFont', sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);

    overflow-y: overlay;
}

// Embeded fonts
@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}

img,
input,
label,
textarea,
select,
button,
[tabindex] {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    outline: none;
    padding: 0;
}

textarea,
input,
button {
    background-color: transparent;
}

a {
    color: #161823;
    text-decoration: none;
}

input {
    caret-color: #fe2c55;
}

body {
    & .tippy-box {
        border-radius: 8px;
    }

    &.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px !important;
    }

    & .tippy-content {
        padding: 7px 9px;

        height: 38px;

        color: #fff;
        border-radius: 8px;
        font-weight: 500;
        font-size: 1.6rem;
        background-color: rgba(84, 84, 84, 0.92);

        pointer-events: visible;
    }

    & .tippy-arrow {
        &::before {
            border-bottom-color: rgba(84, 84, 84, 0.92) !important;
        }
    }
}

// custom scrollbar
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}
