// menu dropdown
.menu-list {
    width: 224px;

    & .menu-item {
        margin-left: 0;
        height: 42px;
        width: 100%;
        border: none;
        border-radius: 0;
        justify-content: flex-start;
        font-weight: 600;

        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }

        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
        }
    }
}

.menu-dropdown {
    padding-bottom: 8px;
}

.menu-scorllable {
    overflow-y: auto;
}

// Heading menu
.header {
    margin-top: -8px;
    display: flex;
    align-items: center;
    gap: 26px;
    height: 50px;
    flex-shrink: 0;
}

.back-btn {
    margin-left: 28px;
    width: 24px;
    height: 100%;
    transition: translate 0.3s;

    &:hover {
        cursor: pointer;
        translate: -3px 0;
    }
}

.heading {
    font-size: 1.6rem;
    font-weight: 700;
}
