.wrapper {
    height: var(--default-layout-header-hight);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    width: 100%;
}

.inner {
    margin: 0 auto;
    padding: 0 var(--default-layout-horzontal-spacer);
    width: var(--default-layout-width);
    max-width: calc(100% - 48px);
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Actions
.action {
    display: flex;
    align-items: center;
}

.more-btn {
    margin-left: 16px;
    padding: 4px 12px;
    font-size: 2rem;
    cursor: pointer;
}

.action-btn {
    font-size: 2.4rem;
    padding: 3px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.inbox-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: '20';
        min-width: 26px;
        height: 18px;

        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 999px;
        color: #fff;
        background-color: var(--primary);

        position: absolute;
        top: -6px;
        right: -6px;
    }
}

.user-avatar {
    margin-left: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
